/* 
Less CSS3 utils.
*/
/* Vertical Background Gradient */
/* Horizontal Background Gradient */
.clear {
  clear: both;
}
/* For modern browsers */
.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}
/* Forms */
.field {
  padding: 10px 30px;
}
.field label {
  font-weight: bold;
  display: block;
}
.field input[type="text"], .field input[type="password"] {
  width: 466px;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.error {
  background: #fcc;
  border-bottom: 2px solid #f33;
}
.actions {
  width: 500px;
  padding: 20px;
  text-align: right;
}
.clear {
  clear: both;
}
/* For modern browsers */
.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}
html, body {
  height: 100%;
  margin: 0 0 1px;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #333333;
}
.lane {
  overflow: hidden;
  position: absolute;
  height: 100%;
  border-right: 1px solid #ccc;
}
#lane1 {
  width: 299px;
}
#lane2 {
  width: 300px;
  left: 300px;
}
#lane3 {
  left: 600px;
  border-right: 0;
}
.active {
  background: #efefef;
  background: #ffe;
  font-weight: bold;
}
#sites .site-list .item {
  height: 30px;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}
#sites .site-list img.favicon {
  margin: 5px 10px 0 0;
}
#sites .site-detail h2 {
  padding: 20px 25px;
  margin: 0;
}
