@import "public/css/utils";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
}

#topbar {
  .vbg-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  h1 {
    color: white;
    margin: 0;
    padding: 15px 10px;
  }
}

.sidebar-wrapper {
  width: 20%;
  float: left;
}
.content-wrapper {
  width: 80%;
  float: right;
}
.panel {
  margin: 10px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.active {
  background: #ffe;
}

/* Forms */
.field {
  padding: 10px 20px;
  label {
    font-weight: bold;
    display: block;
  }
  input[type="text"], input[type="password"] {
    width: 466px;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    border: 1px solid #999999;
    .inset-box-shadow(0, 1px, 2px, rgba(0,0,0,0.2));
  }
}

.actions {
  width: 480px;
  padding: 20px;
  text-align: right;
}


#sites {

  .site-list {
    .item {
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .site-detail {
    h2 {
      background: #eef;
      padding: 10px 20px;
      margin: 0;
    }
  }

}
