@import "public/css/utils";
@import "public/css/_forms";

@red: #d32d27;


.clear {
  clear: both;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}






html, body {
  height: 100%;
  margin: 0 0 1px;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #333333;
}


.lane {
  overflow: hidden;
  position: absolute;
  height: 100%;
  border-right: 1px solid #ccc;
}

#lane1 {
  width: 299px;
}

#lane2 {
  width: 300px;
  left: 300px;
}

#lane3{
  left: 600px;
  border-right: 0;
}


.active {
  background: #efefef;
  background: #ffe;
  font-weight: bold;
}



#sites {


  .site-list {
    .item {
      height: 30px;
      padding: 8px;
      border-bottom: 1px solid #ccc;
    }
    img.favicon {
      margin: 5px 10px 0 0;
    }
  }

  .site-detail {
    h2 {
      padding: 20px 25px;
      margin: 0;
    }
  }

}
